.first_splash
  .container
    .row
      .col-9
      .col-2.inquire_text.text-primary
        Inquire us now to avail discounts!
      .col-1.arrow_up
        %img{src: asset_path("XMLID_2331_.svg")}
    .row
      .col-4
        %p.fs-1.fw-bold.dark_purple_color
          The Cheapest Textbooks
        %p.fs-3.fw-bold.light_purple_color
          Save Up To 90% On Millions Of Titles
        %p.fs-5.dark_purple_color
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque.
        %a.nav-link.active{href: "#"}
          %button.btn.btn-primary.get_started_btn
            Get Started >
      .col-8
        %img{src: asset_path("hero illustration.svg")}
    .row
      .col-8
        %img.group_13597_image{src: asset_path("Group 13597.png")}
      .col-4.d-flex.align-items-center
        .content_to_center
          %p.fw-bold.fs-2.white_color
            Our Commitment
          %p.white_color
            Morbi volutpat dignissim blandit. Nulla rhoncus leo eget malesuada eleifend. Curabitur a sapien at urna feugiat efficitur ac ornare leo. Ut laoreet imperdiet leo vitae euismod.
          %a.nav-link.active{href: "#"}
            %button.btn.btn-primary.dark_blue_btn
              Learn More >
    .row
      .col-12.white_color.fs-2.fw-bold.center_text
        Trusted By Awesome
        %span.gold_color
          Clients
    .row.center_text.client_row
      .col-2
        %img{src: asset_path("Binance.svg")}
        %span.white_color.fs-3.fw-bold
          Binance
      .col-2
        %img{src: asset_path("Layer_x0020_1.svg")}
        %span.white_color.fs-3.fw-bold
          Bitcoin
      .col-2
        %img{src: asset_path("solana-sol-logo.svg")}
        %span.white_color.fs-3.fw-bold
          Solana
      .col-2
        %img{src: asset_path("Ethereum.svg")}
        %span.white_color.fs-3.fw-bold
          Ethereum
      .col-2
        %img{src: asset_path("tether-usdt-logo.svg")}
        %span.white_color.fs-3.fw-bold
          Tether
      .col-2
        %img{src: asset_path("Layer 2.svg")}
        %span.white_color.fs-3.fw-bold
          XRP

.second_splash
  .center_text.second_splash_header_text
    %p.fs-1.fw-bold.dark_purple_color
      Explore Our Books
    %p.fw-bold.dark_purple_color.dedicated_support_team_text
      With our dedicated customer support team, you can rest easy knowing that we're doing everything we can to save you time, money, and stress

  .container
    .row.margin_right_neg_1
      .col-9
      .col-1
        .arrow_down
          %img{src: asset_path("XMLID_2331_.svg")}
      .col-2
        .inquire_text.text-primary
          Inquire us now to avail discounts!
    .row
      .col-4
        .white_silver_bg.d-flex.justify-content-center.align-items-center.rounded
          %img.explore_books_panel{src: asset_path("doughnuts & Doom.png")}
        %p.fs-3.fw-bold.white_color.book_mini_detail
          Doughnuts And Doom
        %p.fs-4.fw-bold.teal_color.book_mini_detail
          View Book Details >
      .col-4
        .white_silver_bg.d-flex.justify-content-center.align-items-center.rounded
          %img.explore_books_panel{src: asset_path("The Bend of Luck.png")}
        %p.fs-3.fw-bold.white_color.book_mini_detail
          The Bend Of Luck
        %p.fs-4.fw-bold.teal_color.book_mini_detail
          View Book Details >
      .col-4
        .white_silver_bg.d-flex.justify-content-center.align-items-center.rounded
          %img.explore_books_panel{src: asset_path("The Underwater Welder.png")}
        %p.fs-3.fw-bold.white_color.book_mini_detail
          The Underwater Welder
        %p.fs-4.fw-bold.teal_color.book_mini_detail
          View Book Details >

  .container.three_reasons
    .row
      .col-2
        %p.fs-5.gold_color.fw-bold
          LOREM IPSUM
    .row
      .col-6
        %p.fs-1.fw-bold.white_color
          3 Reasons To Shop With Us
    .row.g-4
      .col-4
        %img.three_reasons_img{src: asset_path("package-box.svg")}
        %p.fs-4.fw-bold.white_color
          All textbook rentals come with free return shipping.
        %p.white_color.fw-semibold
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque.
      .col-4
        %img.three_reasons_img{src: asset_path("help.svg")}
        %p.fs-4.fw-bold.white_color
          Dedicated customer support and help portal.
        %p.white_color.fw-semibold
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque.
      .col-4
        %img.three_reasons_img{src: asset_path("piggy-bank.svg")}
        %p.fs-4.fw-bold.white_color
          Buy or rent cheap textbooks & save up to $500 per year!
        %p.white_color.fw-semibold
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque.

.client_review
  .center_text
    %p.fw-bold.fs-5.dark_purple_color
      Andrew Santellan
    %p.fw-semibold.teal_color
      Product Manager, Binance

  .container
    .row
      .col-2
      .col-8
        .review_panel.lightblue_bg.rounded.d-flex.flex-column.align-items-center
          %img.review_img{src: asset_path("user.png")}
          %p.fw-semibold.fs-5.white_color.review_text
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque. Morbi volutpat dignissim blandit. Nulla rhoncus leo eget malesuada eleifend. Curabitur a sapien at urna feugiat efficitur ac ornare leo. Ut laoreet imperdiet leo vitae euismod. Aliquam arcu ex, laoreet vitae ligula at, rutrum hendrerit purus. Suspendisse consectetur quam leo, vitae tincidunt metus scelerisque a.
          %img{src: asset_path("star.svg")}
      .col-2
.faq
  %h1.center_text.dark_purple_color
    Frequently Asked Question

  .d-flex.justify-content-center
    .accordion.accordion-flush.faq_accordion
      .accordion-item
        .accordion-header
          %button.accordion-button.light_purple_color.light_gray_bg.fw-semibold{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#cust_support_faq1", "aria-controls": "cust_support_faq1"}
            Dedicated customer support and help portal.
        #cust_support_faq1.accordion-collapse.collapse
          .accordion-body.light_gray_bg.fw-semibold
            With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.
      .accordion-item
        .accordion-header
          %button.accordion-button.light_purple_color.light_gray_bg.fw-semibold{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#cust_support_faq2", "aria-controls": "cust_support_faq2"}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        #cust_support_faq2.accordion-collapse.collapse
          .accordion-body.light_gray_bg.fw-semibold
            Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque. Morbi volutpat dignissim blandit.
      .accordion-item
        .accordion-header
          %button.accordion-button.light_purple_color.light_gray_bg.fw-semibold{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#cust_support_faq3", "aria-controls": "cust_support_faq3"}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        #cust_support_faq3.accordion-collapse.collapse
          .accordion-body.light_gray_bg.fw-semibold
            Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque. Morbi volutpat dignissim blandit.
      .accordion-item
        .accordion-header
          %button.accordion-button.light_purple_color.light_gray_bg.fw-semibold{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#cust_support_faq4", "aria-controls": "cust_support_faq4"}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        #cust_support_faq4.accordion-collapse.collapse
          .accordion-body.light_gray_bg.fw-semibold
            Cras scelerisque velit placerat est mollis tincidunt. Donec quis congue diam. Aliquam luctus venenatis turpis sit amet accumsan. Ut vitae egestas sapien, vitae consequat neque. Morbi volutpat dignissim blandit.