.footer
  .container.footer_container
    .row.g-4.mb-4
      .col-4.padding_right
        %img{src: asset_path("sample logo.svg")}
        %p.fw-semibold
          %br
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %br
          %br
        .input-group.rounded-pill
          %input.form-control.rounded-pill-start.light_gray_bg.email_address_box{type: "text", placeholder: "Email Address"}
          %button.btn.btn-primary.rounded-pill-end.light_gray_bg.border-start-0.dark_purple_color.fw-semibold.email_footer_caret{type: "submit", disabled: true}
            >
      .col-2
        %p.fw-bold
          Menu
        %p.fw-normal
          Shop All
        %p.fw-normal
          About Us
        %p.fw-normal
          Community
        %p.fw-normal
          FAQs
      .col-2
        %p.fw-bold
          Support
        %p.fw-normal
          Shipping & Returns
        %p.fw-normal
          Help & FAQ
        %p.fw-normal
          Terms & Conditions
        %p.fw-normal
          Privacy Policy
        %p.fw-normal
          Community
        %p.fw-normal
          Contact
        %p.fw-normal
          Login
      .col-2
        %p.fw-bold
          Resources
        %p.fw-normal
          Shipping & Returns
        %p.fw-normal
          Help & FAQ
        %p.fw-normal
          Terms & Conditions
        %p.fw-normal
          Privacy Policy
        %p.fw-normal
          Community
        %p.fw-normal
          Contact
        %p.fw-normal
          Login
      .col-2.d-flex.flex-column.justify-content-end.align-items-end
        %button.btn.btn-primary.rounded-circle.teal_bg.chat_btn.btn-lg{type: "submit"}
          %i.bi.bi-chat{style: "color: white;"}
    .row
      .col-6
        %p.fw-bold
          © 2022 Brainly.
      .col-6
        .social_media.d-flex.justify-content-end
          .circular_light_gray_bg
            %img{src: asset_path("facebook (3).svg")}
          .circular_light_gray_bg
            %img{src: asset_path("linkedin (1).svg")}
          .circular_light_gray_bg
            %img{src: asset_path("Logo_00000038394049246713568260000012923108920998390947_.svg")}