%head
  = stylesheet_link_tag "application", "data-turbo-track" => "reload"
  = javascript_include_tag 'jquery-3.7.0.min', 'data-turbo-track': 'reload'
  = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"

%body
  = yield